* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #333;
}

ul {
    position: relative;
    transform-style: preserve-3d;
    perspective: 500px;
    display: flex;
    flex-direction: column;
    gap: 0px;    
    transition: 0.5s;

    li {
        position: relative;
        list-style: none;
        width: 450px;
        height: 100px;
        padding: 15px;
        border-radius: 6px;
        background: rgba(255, 255, 255, 0.1);
        transition: 0.5s;
        box-shadow: 0 -15px 25px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(4px);

        .box {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 20px;
            transition: 0.5s;
    
            img {
                max-width: 70px;
                border-radius: 5px;
            }
        }

        .content {
            width: 100%;
            cursor: pointer;

            h4 {
                font-weight: 600;
                color: #aaa;
                transition: 0.5s;
            }

            p {
                position: relative;
                width: 100%;
                line-height: 1em;
                color: #aaa;
                transition: 0.5s;

                span {
                    position: absolute;
                    top: 0;
                    right: 0;
                    transition: 0.5s;
                    color: #aaa;
                    font-size: 0.75em;
                    opacity: 0.8;
                }
            }
        }
    }

    li:hover {
        .box {
            transform: translateX(-50px);
        }

        .content {
            h4 {
                color: #fff;
            }

            p {
               color: #fff;

                span {
                   color: #fff;
                }
            }
        }
    }

    li:nth-child(1) {
        transform: translateZ(-75px) translate(-80px, -40px) rotate(-15deg);
    }
    li:nth-child(2) {
        transform: translateZ(80px) translate(50px, 20px) rotate(5deg);
    }
    li:nth-child(3) {
        transform: translateZ(75px) translate(0px, -30px) rotate(-25deg);
    }
    li:nth-child(4) {
        transform: translateZ(20px) translate(-100px, -25px) rotate(15deg);
    }
}

ul:hover {
    gap: 30px;

    li {
        transform: translateZ(0px) translate(0px, 0px) rotate(0deg);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.25);
    }
}

