.tab-2 {
    position: relative;
    width: 350px;
    height: 70px;
    &_nav {
        display: flex;
    }
    &_item {
        position: relative;
        list-style: none;
        width: 70px;
        height: 70px;
        z-index: 1;
        &.active {
            .tab-2_icon {
                font-size: 20px;
                transform: translateY(-6px);
            }

            .tab-2_text {
                transform: scale(1);
            }
        }
        &:nth-child(1).active ~.tab-2_indicator {
            background: #f53b57;
            box-shadow: 0 15px 25px #f53b57;
            transform: translateX(calc(70px * 0));
        }
        &:nth-child(2).active ~.tab-2_indicator {
            background: #5d62fb;
            box-shadow: 0 15px 25px #5d62fb;
            transform: translateX(calc(70px * 1));
        }
        &:nth-child(3).active ~.tab-2_indicator {
            background: #05c46b;
            box-shadow: 0 15px 25px #05c46b;
            transform: translateX(calc(70px * 2));
        }
        &:nth-child(4).active ~.tab-2_indicator {
            background: #0fbcf9;
            box-shadow: 0 15px 25px #0fbcf9;
            transform: translateX(calc(70px * 3));
        }
        &:nth-child(5).active ~.tab-2_indicator {
            background: #ffa801;
            box-shadow: 0 15px 25px #ffa801;
            transform: translateX(calc(70px * 4));
        }
    }
    &_link {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #fff;
        text-align: center;
    }
    &_icon {
        position: relative;
        line-height: 75px;
        transition: .5s;
        font-size: 30px;
    }
    &_text {
        position: absolute;
        font-size: 12px;
        color: #fff;
        bottom: 20px;
        font-weight: 400;
        translate: .25s;
        text-transform: uppercase;
        transform: scale(0);
    }

    &_indicator {
        position: absolute;
        left: 0;
        width: 70px;
        height: 70px;
        border-radius: 10px;
        transition: .5s;
    }
}