.tab-4 {
    position: relative;
    width: 350px;
    height: 70px;
    background: #fff;
    border-radius: 35px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    &_nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
    }
    &_item {
        list-style: none;
        position: relative;
        width: 70px;
        height: 70px;
        z-index: 1;
        &.active {
            .tab-4_icon {
                color: #fff;
            }
        }
        &:nth-child(1).active ~ .tab-4_indicator {
            transform: translateX(calc(70px * 0));
        }
        &:nth-child(2).active ~ .tab-4_indicator {
            transform: translateX(calc(70px * 1));
        }
        &:nth-child(3).active ~ .tab-4_indicator {
            transform: translateX(calc(70px * 2));
        }
        &:nth-child(4).active ~ .tab-4_indicator {
            transform: translateX(calc(70px * 3));
        }
        &:nth-child(5).active ~ .tab-4_indicator {
            transform: translateX(calc(70px * 4));
        }


        &:nth-child(1).active ~ .tab-4_indicator::before {
            background: #f53b57;
        }
        &:nth-child(2).active ~ .tab-4_indicator::before {
            background: #3c40c6;
        }
        &:nth-child(3).active ~ .tab-4_indicator::before {
            background: #05c46b;
        }
        &:nth-child(4).active ~ .tab-4_indicator::before {
            background: #0fbcf9;
        }
        &:nth-child(5).active ~ .tab-4_indicator::before {
            background: #ffa801;
        }
    }
    &_link {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        color: #333;
        font-weight: 500;
    }
    &_icon {
        position: relative;
        display: block;
        line-height: 75px;
        text-align: center;
        transition: .5s;
    }
    &_i {
        font-size: 24px;
    }
    &_text {
        position: absolute;
        top: -70px;
        left: 50%;
        transform: translate(-50%, 50%);
        background: #fff;
        width: auto;
        padding: 5px 10px;
        border-radius: 6px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        transition: .5s;
        opacity: 0;
        visibility: hidden;
        &::before {
            content: " ";
            position: absolute;
            width: 12px;
            height: 12px;
            background: #fff;
            bottom: -8px;
            left: 48%;
            transform: rotate(45deg) translateX(-50%);
            border-radius: 2px;
        }
    }
    &_indicator {
        position: absolute;
        left: 0;
        width: 70px;
        height: 70px;
        transition: .5s;
        &::before {
            content: " ";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #333;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            transition: .5s;
        }
    }
}