.tab-1 {
    position: relative;
    padding:  40px 0;
    background: #fff;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
    &_item {
        list-style: none;
        text-align: center;
        display: block;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        &:not(:last-child) {
            border-right: 1px solid rgba(0, 0, 0, 0.2);
        }
    }
    &_link {
        text-decoration: none;
        padding: 0 20px;
        display: block;
        &:hover {
            .tab-1_i {
                transform: translateY(100%);
                &:last-child {
                    transform: translateY(-100%);
                }
            }
            .tab-1_text {
                span {
                    transform: translateY(-20px);
                }
            }
        }
    }
    &_icon {
        min-width: 60px;
        height: 60px;
        text-align: center;
        margin: 0 auto 10px;
        padding-top: 10px;
        overflow: hidden; 
    }
    &_i {
        width: 100%;
        height: 100%;
        line-height: 40px;
        font-size: 2em;
        transition: .5s;
        -webkit-text-stroke: 2px #222;
        color: transparent;
        &:last-child {
            color: #2196f3;
            -webkit-text-stroke: 0px #222;
            transform: translateY(-200%);
        }
    }
    &_text {
        position: relative;
        height: 20px;
        width: 100%;
        display: block;
        overflow: hidden;
        text-transform: uppercase;
        font-weight: 500;

        span {
            display: block;
            position: relative;
            color: #222;
            font-size: 1em;
            line-height: 20px;
            transition: .5s;
        }

        span::before {
            content: attr(data-text);
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 100%;
            color: #2196f3;
        }
    }
}

// @media (max-width: 768px) {
//     .tab {
//         flex-direction: column;
//         padding: 20px 30px;
//         width: 250px;

//         li {
//             border-right: none;

//             a {
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 gap: 10px;
//                 padding: 20px 0;

//                 .icon {
//                     margin: 0;
//                 }

//                 .text {
//                     text-align: start;
//                 }
//             }
//         }

//         li:not(:last-child) {
//             border-right: none;
//             border-bottom: 1px solid rgba(0, 0, 0, 0.2);
//         }
//     }
// }