* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box {
    position: absolute;
    width: 300px;
    height: 400px;
    background: #333;
    transform: translate(0, 50px) rotate(1deg); 
    -webkit-mask: radial-gradient(circle 50px at top left, transparent 98%, #000)top left, 
    radial-gradient(circle 50px at top right, transparent 98%, #000)top right,
    radial-gradient(circle 50px at bottom left, transparent 98%, #000)bottom left, 
    radial-gradient(circle 50px at bottom right, transparent 98%, #000)bottom right;
    -webkit-mask-size: 51% 51%;
    -webkit-mask-repeat: no-repeat;
}
.box:nth-child(2) {
    background-image: url(./img/1bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    transform: translate(200px, -100px) rotate(15deg);
    transition: .5s;
}
.box:nth-child(3) {
    background: url(./img/3bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;  
    transform: translate(-200px, 100px) rotate(-35deg);
    transition: .5s;
}

.box:nth-child(3):hover {
    scale: 1.1;
}
.box:nth-child(2):hover {
    scale: 1.1;
}  