.tab-7 {
    position: relative;
    display: flex;
    gap: 50px;
    &_item {
        position: relative;
        list-style: none;
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: .5s;
        &::before {
            content: '';
            position: absolute;
            inset: 30px;
            box-shadow: 0 0 0 10px var(--clr),
            0 0 0 20px var(--bg),
            0 0 0 22px var(--clr);
            transition: .5s;
            
        }
        &::after {
            content: '';
            position: absolute;
            inset: 0;
            background: var(--bg);
            transform: rotate(45deg);
            transition: 0.5s;
        }
        &:hover {
            .tab-7_i {
                color: var(--clr);
                transform: translateY(-40%);
                filter: drop-shadow(0 0 20px var(--clr))
                drop-shadow(0 0 40px var(--clr))
                drop-shadow(0 0 60px var(--clr));
            }
            .tab-7_text {
                opacity: 1;
                transform: scale(1) translateY(100%);
                filter: drop-shadow(0 0 20px var(--clr))
                drop-shadow(0 0 40px var(--clr))
                drop-shadow(0 0 60px var(--clr));
            }
            &::before {
                inset: 15px;
            }
            &::after {
                inset: 0px;
                transform: rotate(0deg);
            }
        }
        
    }
    &_link {
        position: relative;
        text-decoration: none;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &_i {
        font-size: 2em;
        transition: .5s;
        color: var(--clr);
    }
    &_text {
        position: absolute;
        font-family: consolas;
        color: var(--clr);
        opacity: 0;
        transition: .5s;
        transform: scale(0) translateY(200%);
    }
}